.dark-mode {
  background-color: black;
  color: white;
}

#light-mode {
  display: none;
}

.button-placement {
  float: right;
  margin: 14px;
  border: 1px;
  padding: 3px;
}

h1 {
  margin: 14px;
  border: 1px;
  padding: 3px;
}